@font-face {
    font-family: myFont;
    src: url(SpaceGrotesk-VariableFont_wght.ttf);
  }

body {
    background-color: rgba(0, 0, 0, 0.61);
    font-family: myFont;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#objectifs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}




#client {
    display: flex;
    flex-direction: column;
    gap:50px;
    align-items: center;

}


#tout {
    display: flex;
    flex-direction: column;
    gap:50px;
}


.text {
    background-color: rgb(255, 255, 255);
    color:black;
    width:auto;
    height:50px;
    text-align: center;
    align-content: center;
    width:500px;
    border-radius:20px ;
}

        .toggle-content {
            cursor: pointer;
        }
        .toggle-content .arrow {
            display: inline-block;
            margin-left: 10px;
            transition: transform 0.3s;
        }
        .toggle-content .arrow.down {
            transform: rotate(0deg);
        }
        .toggle-content .arrow.right {
            transform: rotate(90deg);
        }
        .content {
            display: none;
            background-color: #f0f0f0; /* Couleur de fond pour le contenu affiché */
            padding: 10px;
            color:black;
            border-radius: 5px;
        }
        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.8);
        }
        .modal-content {
            margin: 5% auto;
            display: block;
            width: 80%;
            max-width: 800px;
        }
        .close {
            position: absolute;
            top: 20px;
            right: 35px;
            color: #fff;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }
        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }
   

#mise  {
    font-size: 30px;

}

#image {
    width:400px;

}

#titree {
font-size: 30px;
}

#titre {
    
    width:auto;
    height:100px;
    align-items: center;
    display: flex;
    font-size: 30px;
    justify-content: center;
    color:rgb(255, 255, 255);

}

#attentes {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

